# MongoDB Connection String
# Get this from MongoDB Atlas after creating a cluster
MONGODB_URL=mongodb+srv://deepak664337_db_user:RPkYHzx4YLJTO9gk@wandereasecluster.omcq43f.mongodb.net/?appName=WandereaseCluster

# Session Secret - Generate a random secret string
SESSION_SECRET=7b0e3e88f29a4c7d5e83b04dbeeb9bcd7e12b6d7b3d4a48b

# Port (Render will set this automatically)
PORT=8080
